<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      Sign in with your Wink credentials below
    </p>
    <form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">
  <br>

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
  <br>

  <input type="submit">
</form>
  <p>
    New user? Sign up <%= link_to "here", new_user_url %>
  </p>
  </body>
</html>
