<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@scene["name"]%></h1>
    <p>
      <%= @scene %>
    </p>
    <%= link_to "Activate", {:controller => "scenes", :action => "update", :id => @scene["scene_id"]} %>
  </body>
</html>
