<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <%= link_to "My Devices", devices_url %>

    <h3>Device Categories</h3>
    <%= link_to "Lightbulbs", lightbulbs_url %>
    <h3>Scenes</h3>
    <%= link_to "View All Scenes", scenes_url %>
  </body>
</html>
