<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Lightbulb <%=@lightbulb["light_bulb_id"]%></h1>
  <p>
    Last Reading:
  </p>
  <p>
    <%=@lightbulb["last_reading"]%>
  </p>
  </body>
</html>
